.card {
  padding: 1em;
  border-radius: 1em;
  margin: auto;
  width: 90%;
  text-align: center;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border: 1px solid transparent;
  background-clip: padding-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cardContainer {
  display: grid;
  place-items: center;
  position: relative;
}

.closeIcon {
  position: absolute;
  top: 0.25em;
  right: 1em;
  font-size: x-large;
}

h1 {
  font-size: xx-large;
  font-weight: bolder;
  padding: 0.5em;
}

p {
  padding: 1em;
}

@media only screen and (min-width: 58em) {
  .card {
    width: 30%;
  }
}
